/* fonts */

@font-face {
    font-family: "Green Screen";
    src: url(fonts/green_screen/Greenscr.woff2) format("woff2");
}

@font-face {
    font-family: "Withheld Data";
    src: url(fonts/withheld-data-font/WithheldData-wVKz.woff2) format("woff2");
    src: url(fonts/withheld-data-font/Withheld\ Data-252e.woff) format("woff");
}

@font-face {
    font-family: "OCR-A";
    src: url(fonts/ocr-a\ regular.woff2) format("woff2");
    src: url(fonts/ocr-a-regular.woff) format("woff");
}

/* general styling */

body {
    background-color: black;
    color: lime;
    text-align: center;
    font-family: "OCR-A";
    margin: 0;
}

h1 {
    font-family: "Green Screen";
    font-size: 4rem;
}

h2 {
    font-family: "Withheld Data";
    font-size: 2rem;
}

h3, ul {
    font-size: 1.5rem;
}

p {
    font-size: 1rem;
}

a {  
    text-decoration: none;
}

@media screen and (max-width: 450px) {
    h2 {
        font-size: 1.5rem;
    }

    h3 {
        font-size: 1rem;
    }

    p {
        font-size: 0.75rem;
    }
}

/* header styling */

header {
    padding: 1rem;
    margin: 0;
    background-color: white;
    z-index: 10;
}

header img {
    width: 80px;
    margin: 0;
    float: left;
    vertical-align: top;
}

ul,
.container,
details div {
    display: flex;
    justify-content: space-evenly;
    flex-wrap: wrap;
}

ul {
    list-style-type: none;
    padding-left: 0;
}

@media screen and (max-width: 800px) {
    header {
        padding: 0.6rem;
    }

    header img {
        width: 8%;
    }

    ul {
        font-size: 1rem;
    }
}

@media screen and (max-width: 750px) {
    header {
        position: sticky;
        top: 0;
    }
}

@media screen and (max-width: 500px) {
    header {
        padding: 0.4rem;
    }
    
    ul {
        font-size: 0.75rem;
    }
}

@media screen and (max-width: 350px) {
    header {
        padding: 0;
    }
    
    header img {
        display: none;
    }
    
    ul {
        padding: 0.5rem;
        margin: 0;
    }
}

/* banner styling */

.banner {
    margin: 4rem 8rem 12rem;
    margin-left: 12%;
    text-align: left;
    height: 8rem; /* double height of h1 so that height doesn't change if typewriter wraps to second line */
}

@media screen and (max-width: 900px) {
    .banner {
        margin: 2rem 3rem 6rem;
        height: 4rem;
    }
    
    h1 {
        font-size: 2rem;
    }
}

@media screen and (max-width: 450px) {
    .banner {
        margin: 1rem 2rem 3rem;
        height: 3rem;
    }

    h1 {
        font-size: 1.5rem;
    }
}

/* projects styling */

section {
    padding: 4rem 2rem;
}

#projects, #about {
    background-color: #191919;
}

.project {
    max-width: 30%;
    margin: 2rem 0;
}

.project img {
    max-width: 100%;
    max-height: 286px;
    object-fit: cover;
    background-position: top;
    transition: .5s ease;
}

.hover:hover img {
    opacity: 0.7;
}

.hover {
    position: relative;
}

.button {
    opacity: 0;
    transition: .5s ease;
    padding: 0.5rem 2rem;
    background-color: lime;
    color: black;
    font-family: "OCR-A";
    border-radius: 5px;
    font-size: 1rem;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 2;
}

.hover:hover .button {
    opacity: 1;
}

button {
    padding: 0.5rem 2rem;
    background-color: lime;
    font-family: "OCR-A";
    border-radius: 5px;
    font-size: 1rem;
}

button:hover {
    background-color: green;
    color: lime;
    cursor: pointer;
    transition: .3s ease;
}

@media screen and (max-width: 1100px) {
    .project {
        max-width: 45%;
        margin: 2rem 1rem;
    }
}

@media screen and (max-width: 750px) {
    section {
        padding: 2rem 0;
    }

    p {
        padding: 0 0.5rem;
    }
    
    .project {
        max-width: 100%;
        margin: 2rem 1rem;
    }
    
    .project img {
        max-height: 100%;
    }
}

@media screen and (max-width: 450px) {
    section {
        padding: 1rem 0;
    }
    
    button {
        padding: 0.25rem 1rem;
        font-size: 0.75rem;
    }
}

/* skills styling */

#skills li {
    margin: 2rem;
}

details ul {
    display: block;
}

details li {
    text-align: left;
}

@media screen and (max-width: 700px) {
    #skills li {
        margin: 1rem;
    }
}

/* contacts styling */

#contact {
    background-color: #ddd;
    color: green;
}

#linkedin {
    height: 64px;
    margin: 0 10px;
}

/* resume styling */

#resume {
    max-width: 100%;
}

.resume a {
    color: lime;
}